@{

    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form_Hrm.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/hrm/askforleave/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    data.days = data.days.replace(/天/g, "");
                    $("#form1").formSerialize(data);
                    
                    $("#NACHN").combogrid("setValue", data.NACHN);
                }
            });
        }
    });
    function initControl() {
        //$("#form1").validate({
        //    rules: {
        //        EndDate: {
        //            compareDate: "#StartDate"
        //        }
        //    }
        //});

        $("#StartDate").datepicker({
            format: 'yyyy-mm-dd',

            language: 'zh-CN'
        });
        $("#EndDate").datepicker({
            format: 'yyyy-mm-dd',

            language: 'zh-CN'
        });
        //$("#AskTypeId").bindSelect({
        //    url: "/SystemManage/ItemsData/GetSelectJson_Own?enCode=AskLeaveType"
        //});
        $("#NACHN").combogrid({
            panelWidth: 500,
            idField: 'F_Id',
            textField: 'NACHN',
            url: '/hrm/sapuser/GetComboGridJson/',
            method: 'post',
            delay: 500,
            pagination: true,
            columns: [[
                { title: '主键', field: 'F_Id', hidden: true },
                { title: '人员编号', field: 'PERNR', width: 80, align: 'left' },
                { title: '姓名', field: 'NACHN', width: 80, align: 'left' },

                {
                    title: '员工工号', field: 'YGGH', width: 80, align: 'left'
                },
                {
                    title: '考勤类别', field: 'RYLB', width: 80, align: 'left'
                }
            ]],
            fitColumns: true,
            keyHandler: {
                enter: function () {
                    
                },
                query: function (keyword) {
                    $(this).combogrid("grid").datagrid('clearSelections');
                   // var keyword = $(this).combogrid('textbox').val();
                    var queryParams = $(this).combogrid("grid").datagrid('options').queryParams;
                    queryParams.keyword = keyword;
                    $(this).combogrid("grid").datagrid('options').queryParams = queryParams;
                    $(this).combogrid("grid").datagrid("reload");
                    $(this).combogrid("setValue", keyword);
                }
            },

            onSelect: function (rowIndex, rowData) {
                $("#HrmUserId").val(rowData.F_Id);
                $("#OrganizeId").val(rowData.OrganizeId);
                if (rowData.RYLB == "2") {
                    $("#DoctorOrNurser").val(false);
                }
                else {
                    $("#DoctorOrNurser").val(true);
                }
            }
        });
       
        //$('#NACHN').combogrid('textbox').unbind().keydown(function (e) {//
        //    if (e.keyCode == 13) {
        //        var keyword = $('#NACHN').combogrid('textbox').val();
        //            $('#NACHN').combogrid("grid").datagrid('clearSelections');

        //            var queryParams = $('#NACHN').combogrid("grid").datagrid('options').queryParams;
        //            queryParams.keyword = keyword;
        //            $('#NACHN').combogrid("grid").datagrid('options').queryParams = queryParams;
        //            $('#NACHN').combogrid("grid").datagrid("reload");
        //            $('#NACHN').combogrid("setValue", keyword);
        //        }
        //    });
    }
    function submitForm() {//保存
        var NACHN = $("input[name='NACHN']").val();
        if (NACHN == "") {
            $.modalAlert("请选择人员编号", "warning");
            return false;
        }
        var bt = $("#AskTypeId").find("option:selected").text();
        if (bt != "病假" && bt != "疫情隔离" && bt != "出武汉市") {
            if ($.trim($("#EndDate").val()) == "") {
                $.modalAlert("请选择结束时间", "warning");
                return false;
            }
        }
        if (bt == "病假" || bt == "产假") {
            if ($.trim($("#SickCheck").val()) == "") {
                $.modalAlert("病假、产假疾病诊断必填", "warning");
                return false;
            }
        }
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/hrm/askforleave/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {

                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function submitAndSaveForm(index) {//保存并提交a
        var NACHN = $("input[name='NACHN']").val();
        if (NACHN == "") {
            $.modalAlert("请选择人员编号", "warning");
            return false;
        }
        var bt = $("#AskTypeId").find("option:selected").text();
        if (bt != "病假" && bt != "疫情隔离" && bt != "出武汉市") {
            if ($.trim($("#EndDate").val()) == "") {
                $.modalAlert("请选择结束时间", "warning");
                return false;
            }
        }
        if (bt == "病假" || bt == "产假") {
            if ($.trim($("#SickCheck").val()) == "") {
                $.modalAlert("病假、产假疾病诊断必填", "warning");
                return false;
            }
        }

        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/hrm/askforleave/SubmitAndSaveForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                parent.layer.close(index);
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function submitFormModify() {//改登保存

        if (!$('#form1').formValid()) {
            return false;
        }
        var bt = $("#AskTypeId").find("option:selected").text();
        if (bt != "病假" && bt != "疫情隔离" && bt != "出武汉市")  {
            if ($.trim($("#EndDate").val()) == "") {
                $.modalAlert("请选择结束时间", "warning");
                return false;
            }
        }
        if (bt == "病假" || bt == "产假") {
            if ($.trim($("#SickCheck").val()) == "") {
                $.modalAlert("病假、产假疾病诊断必填", "warning");
                return false;
            }
        }
        $.submitForm({
            url: "/hrm/askforleave/SubmitFormModify?keyValue=" + keyValue + "&state2=1",
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function submitAndSaveFormModify(index) {//改登 保存并提交
        if (!$('#form1').formValid()) {
            return false;
        }
        var bt = $("#AskTypeId").find("option:selected").text();
        if (bt != "病假" && bt != "疫情隔离" && bt != "出武汉市") {
            if ($.trim($("#EndDate").val()) == "") {
                $.modalAlert("请选择结束时间", "warning");
                return false;
            }
        }
        if (bt == "病假" || bt == "产假") {
            if ($.trim($("#SickCheck").val()) == "") {
                $.modalAlert("病假、产假疾病诊断必填", "warning");
                return false;
            }
        }
        $.submitForm({
            url: "/hrm/askforleave/SubmitFormModify?keyValue=" + keyValue + "&state2=2",
            param: $("#form1").formSerialize(),
            success: function () {
                parent.layer.close(index);
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function ModifyFlag(obj) {
        var txt = obj.find("option:selected").text();//需要审核的请假类型
        var typeId = ",病假,产假,离岗,探亲假,婚假,丧假,寒假,暑假,旷工,外派支援（人事处派出）,国内进修,脱产教学,本科教学秘书,住培教学秘书,研究生教学秘书,专职科研,兼职科研,行政部门轮转,外派托管,外派博士团,外派支援（组织部派出）,育儿假,停工留薪期(工伤假)";

        if (typeId.indexOf(","+txt)>=0) {
            $("#Flag").val(true);
        }
        else {
            $("#Flag").val(false);
        }
    }
    function CalcEndDate() {
        var ds = $("#days").val();
        if ($("#StartDate").val() != "" & ds > 0) {
            //console.info($("#StartDate").val());
            $("#EndDate").val($.dateAddDays($("#StartDate").val(), (parseInt(ds) - 1)));

        }
    }
    function CalcDays() {

        var sd1 = $("#StartDate").val();
        var sd2 = $("#EndDate").val();
        if (sd1 != "" & sd2 != "") {
            $("#days").val(calcDays_common(sd1, sd2));
        }
    }
    function calcDays_common(sDate1, sDate2) {    //sDate1和sDate2是2006-12-18格式  当前月在两个时间之间的天数
        var dateSpan,
            tempDate,
            iDays;
        if (sDate2.indexOf('9999') >= 0) return "";
        sDate1 = Date.parse(sDate1);
        sDate2 = Date.parse(sDate2);



        dateSpan = sDate2 - sDate1;
        dateSpan = Math.abs(dateSpan);
        iDays = Math.floor(dateSpan / (24 * 3600 * 1000)) + 1;
        return iDays;
    };
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">基本信息</a></li>
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">人员编号</th>
                    <td class="formValue">
                        <input id="NACHN" name="NACHN" type="text" class="form-control required" placeholder="请输入请假人" />
                        <input id="HrmUserId" name="HrmUserId" type="hidden" />
                        <input id="OrganizeId" name="OrganizeId" type="hidden" />
                        <input id="State" name="State" type="hidden" />
                        <input id="IsNew" name="IsNew" type="hidden" />
                        <input id="AskSort" name="AskSort" type="hidden" />
                        <input id="Ref_Id" name="Ref_Id" type="hidden" />
                        <input id="Flag" name="Flag" type="hidden" value="true" />
                        <input id="DoctorOrNurser" name="DoctorOrNurser" type="hidden" value="true" />
                    </td>
                    <th class="formTitle">考勤状态类型</th>
                    <td class="formValue">
                        <select id="AskTypeId" name="AskTypeId" class="form-control required" onchange="ModifyFlag($(this));">
                            <option value="10">病假</option>
                            <option value="12">产假</option>
                            <option value="56">探亲假</option>
                            <option value="24">婚假</option>
                            <option value="26">丧假</option>
                            <option value="20">寒假</option>
                            <option value="22">暑假</option>
                            <option value="40">旷工</option>
                            <option value="48">离岗</option>
                            <option value="58">外派支援（人事处派出）</option>
                            <option value="16">国内进修</option>
                            <option value="60">脱产教学</option>
                            <option value="62">本科教学秘书</option>
                            <option value="64">住培教学秘书</option>
                            <option value="66">研究生教学秘书</option>
                            <option value="68">专职科研</option>
                            <option value="70">兼职科研</option>
                            <option value="72">行政部门轮转</option>
                            <option value="74">外派托管</option>
                            <option value="76">外派博士团</option>
                            <option value="78">外派支援（组织部派出）</option>
                            <option value="80">疫情隔离</option>
                            @*<option value="81">出武汉市</option>*@
                            <option value="83">育儿假</option>
                            <option value="85">停工留薪期(工伤假)</option>
                            <option value="87">外派支援（其他）</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">开始时间</th>
                    <td class="formValue">
                        <input id="StartDate" name="StartDate" type="text" onblur="CalcEndDate();" autocomplete="off" class="form-control required " placeholder="请输入开始时间" />
                    </td>
                    <th class="formTitle">请假天数</th>
                    <td class="formValue">
                        <input id="days" name="days" type="text" onblur="CalcEndDate();" autocomplete="off" class="form-control number" placeholder="请输入结束时间" />
                    </td>
                </tr>
                <tr>

                    <th class="formTitle">结束时间</th>
                    <td class="formValue">
                        <input id="EndDate" name="EndDate" type="text" onblur="CalcDays();" compareDate="#StartDate" autocomplete="off" class="form-control" placeholder="请输入结束时间" />
                    </td>
                    <th></th>
                    <td></td>
                </tr>
                <tr>
                    <th class="formTitle">住院科室</th>
                    <td class="formValue">
                        <input id="HosOrganize" name="HosOrganize" type="text" maxlength="50" class="form-control" placeholder="请输入住院科室" />
                    </td>
                    <th class="formTitle">疾病诊断</th>
                    <td class="formValue">
                        <input id="SickCheck" name="SickCheck" type="text" maxlength="50" class="form-control" placeholder="请输入疾病诊断" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        备注
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="F_Description" name="F_Description" maxlength="500" class="form-control" style="height: 60px;"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
