@{
    ViewBag.Title = "HistoryRecordDetail";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<style type="text/css">
    body {
        font-size: 16px !important;
    }
</style>
<script>
    $(function () {
        gridList();
    })
    function gridList() {

        var url = "/Hrm/AskForLeave/GetHistoryDetailRecord/@ViewBag.id";

        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: url,
            height: $(window).height() - 128,
            colModel: [
                { label: '主键', name: 'F_Id', hidden: true },
                { label: '人员编号', name: 'PERNR', width: 80, align: 'left' },
                { label: '姓名', name: 'NACHN', width: 80, align: 'left' },
                {
                    label: '性别', name: 'GESCTXT', width: 40, align: 'left'
                },
                {
                    label: '就职科室', name: 'F_FullName', width: 130, align: 'left'
                    //formatter: function (cellvalue, options, rowObject) {
                    //    return top.clients.organize[rowObject.OrganizeId] == null ? "" : top.clients.organize[rowObject.OrganizeId].fullname;
                    //}
                },
                { label: '职业类别', name: 'BTEXT', width: 80, align: 'left' },

                {
                    label: '年龄', name: 'Ages', width: 40, align: 'left'
                },


                {
                    label: '请假开始时间', name: 'StartDate', width: 80, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },
                {
                    label: '请假结束时间', name: 'EndDate', width: 80, align: 'left',
                    formatter: "date", formatoptions: { srcformat: 'Y-m-d', newformat: 'Y-m-d' }
                },

                {
                    label: '请假天数', name: 'days', width: 50, align: 'left',
                    formatter: function (cellvalue, options, rowObject) {
                        return $.days_count(rowObject.StartDate, rowObject.EndDate);
                    }
                },
                {
                    label: '住院科室', name: 'HosOrganize', width: 80, align: 'left'
                },
                {
                    label: '疾病诊断', name: 'SickCheck', width: 80, align: 'left'
                },
                {
                    label: '请假类型', name: 'F_ItemName', width: 80, align: 'left'
                },
               
                {
                    label: '备注', name: 'F_Description', width: 80, align: 'left'
                },{
                    label: '状态', name: 'StateName', width: 80, align: 'left'
                }, {
                    label: '是否有效', name: 'IsNewName', width: 80, align: 'left'
                }, {
                    label: '序列值', name: 'AskSort', width: 80, align: 'left'
                }

            ],
            pager: "#gridPager",
            sortname: 'F_CreatorTime desc',
            viewrecords: true
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val(), id:'@ViewBag.id' }
            }).trigger('reloadGrid');
        });
    }


    function btn_details() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Details",
            title: "查看请假",
            url: "/hrm/askforleave/Details?keyValue=" + keyValue,
            width: "700px",
            height: "550px",
            btn: null,
        });
    }

    function ExportExcel() {
        $.ExportExcel("gridList", "/Hrm/AskForLeave/GetHistoryDetailRecordExport", { keyword: $("#txt_keyword").val(), id:'@ViewBag.id'})
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-Export" authorize="yes" class="btn btn-primary dropdown-text" onclick="ExportExcel()"><i class="fa fa-file-excel-o"></i>导出</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看请假</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="发薪号/姓名" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>

            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
