.hideTreeNode{display:none}
.showTreeNode{display:block}
SPAN.clsCollapse
{
	line-height:6px;
	font-size:9px;
	overflow:hidden;
	padding:1px;
}

SPAN.clsExpand
{
	padding-left:1px;
	overflow:hidden;
	line-height:3px;
	font-size:13px;
	padding-top:3px;
}

SPAN.clsLeaf
{
	overflow:visible;
	font-size:9px;
	line-height:3px;
	padding: 1px 0px 0px 3px;
}

SPAN.clsMouseOver
{
	background-color:#CCCCCC;
	border:1px solid #999999;
}

SPAN.clsMouseDown
{
	background-color:#999999;
	border:1px solid #999999;
}

SPAN.Selected
{
	background-color:#FFFFFF;
	border:1px solid red;
}
.treeBlankImg
{
    visibility:hidden;
	width:12px;
	height:12px;
}
.hide{display:none}
.show{display:block}
.hidePanel{display:none}
.showPanel{display:block}
.sorticon{color:red;cursor:hand}
.xianga{background-color: #ffffcc;}
.xiangb{background-color: #ccffcc; }
.xiangc{background-color: #ffdab9;}
.xiang1a{BORDER-RIGHT: #ffffcc thin solid; BORDER-TOP: #ffffcc thin solid; BORDER-LEFT: #ffffcc thin solid; BORDER-BOTTOM: #ffffcc thin solid}
.xiang1b{BORDER-RIGHT: #ccffcc thin solid; BORDER-TOP: #ccffcc thin solid; BORDER-LEFT: #ccffcc thin solid; BORDER-BOTTOM: #ccffcc thin solid}
.xiang1c{BORDER-RIGHT: #ffdab9 thin solid; BORDER-TOP: #ffdab9 thin solid; BORDER-LEFT: #ffdab9 thin solid; BORDER-BOTTOM: #ffdab9 thin solid}
.MenuBarItem { PADDING-RIGHT: 0px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px}
.MenuBarItem1 { color:#f00000;text-decoration:none; PADDING-RIGHT: 0px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px}
.menuItem {color:#000000;HEIGHT:20px;color:lightgray;text-decoration:none; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px}
.menuItem a:active {  color: black;}
.menuItem a:hover {  color: black;}
.menuItem a:link {  color: black;}
.menuItem a:visited {  color: black;}
.focusItem{ background-color:#f0f0f0;color:lightgray;HEIGHT:16px; text-decoration:none; padding:3 10 3 10}
.popupMenu {POSITION:absolute;TOP:0px; LEFT:0px;display:none;z-index:999;border-style:solid; border-width: 1px; border-color:#dfdfdf #4CA8F3 #4CA8F3 #dfdfdf;}
.TreePanel
{
	Z-INDEX: 100;OVERFLOW: auto;CURSOR: default;WHITE-SPACE: nowrap;
	BORDER-RIGHT: 000000 1px solid;BORDER-TOP: #c0c0c0 1px solid;BORDER-LEFT: c0c0c0 1px solid;BORDER-BOTTOM: 000000 1px solid;
	FONT-SIZE: 9pt;BACKGROUND-COLOR: lightYellow;
	FILTER:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#FFFFFF, endcolorstr=lightyellow);
}
.TreePanel SPAN{CURSOR: hand;}