ul,
h4,
p{
	margin: 0;
	padding: 0;
}

a {
	margin: 5px 0;
	display: inline-block;
	color: #286090;
}

li {
	list-style: none;
}

input[name="M_NAME"],
input[name="M_STANDARD"] {
	border: 1px solid #ddd;
}

#tosearch {
	margin: 0;
	padding: 0 12px;
	line-height: 23px;
	vertical-align: top;
	margin-left: 10px;
	text-decoration: none;
	height: 23px;
	color: #ffffff;
	text-align: center;
	margin-left: 20px;
	background-color: #428bca;
}

#tb {
	padding: 3px;
}

.tbtop {
	margin-bottom: 10px;
}


/*#tb input{
	margin:0 10px;
}*/

#tb input[name="M_STANDARD"] {
	width: 62px;
	margin-right: 38px;
}

#tb .tbtop input[name="M_NAME"] {
	margin: 0 10px;
	width:118px;
}

.tbtop .combo{
	margin-right:74px;
}

#tb .tbbottom e {
	display: inline-block;
	width: 28px;
	height: 10px;
}
#toadd div{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.adddiv {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	overflow: scroll;
}

.adddiv .top a {
	display: inline-block;
	text-align: center;
	line-height: 24px;
	padding: 2px 6px;
	height: 24px;
	color: #FFFFFF;
	background-color: #428bca;
	text-decoration: none;
}

.adddiv input {
	height: 26px;
	width: 90px;
}

.adddiv .title {
	padding: 0 10px;
	background-color: #dddddd;
	width: 100%;
	height: 36px;
	/*color: #ffffff;*/
	line-height: 36px;
}

.adddiv .title #closeicon {
	display: inline-block;
	width: 50px;
	height: 100%;
	cursor: pointer;
	padding-left:80px;
}

.adddiv .content {
	padding: 10px;
	width: 100%;
	height: auto;
	background-color: #ffffff;
}

.adddiv .content .top {
	margin-bottom: 20px;
}

.adddiv .content .top span.wybj {
	margin-right: 10px;
}

.adddiv .content .top a {
	margin-right: 10px;
}

.adddiv .content .main ul h4 {
	vertical-align: top;
	display: inline-block;
	margin-right: 25px;
}

.adddiv .content .main ul li {
	padding: 10px;
	border:1px solid #dddddd;
	padding-right: 20px;
	overflow: hidden;
	margin: 20px 0;
}

.adddiv .content .main ul li .lititle {
	margin-bottom: 10px;
	line-height: 40px;
	height: 40px;
}

.adddiv .content .main ul li .litop,
.adddiv .content .main ul li .libottom {
	overflow: hidden;
	margin-bottom: 10px;
}

.adddiv .content .main ul li .litop {
	padding-bottom: 20px;
	border-bottom: 1px dashed #999;
}

.adddiv .content .main ul li span,
.adddiv .content .main ul li span e {
	display: inline-block;
}

.adddiv .content .main ul li .litop span:first-child input {
	width: 217px;
}
.adddiv .content .main ul li .libottom span:nth-child(2),
.adddiv .content .main ul li .litop span:nth-child(2)
 {
	margin-left: 60px;
}
.adddiv .content .main ul li .libottom .mark,
.adddiv .content .main ul li .litop span:last-child
 {
	float: right;
}
.adddiv .content .main ul li .litop span:nth-child(3){
	margin-left: 10px;
}
.adddiv .content .main ul li .libottom span:nth-child(2) input{
	width: 208px;
}

.adddiv .content .main ul li .libottom span:last-child {
	
}

.adddiv .content .main ul li .litop span:first-child {
	
}

.adddiv .content .main ul li span:first-child input {
	
}

.adddiv .content .main ul li .libottom span:first-child input {
	width: 135px;
}

.adddiv .nav {
	background-color: #fbfbfb;
}

.adddiv .nav span {
	margin-right: 45px;
}

.adddiv .nav span:last-child {
	margin-right: 0px;
}

.tbbottom {
	margin-bottom: 10px;
}

.tbbottom .combo.datebox {
	position: relative;
}

.tbbottom .combo-arrow {
	position: absolute;
	right: 0;
}

.tbbottom .combo.datebox,
.tbbottom .combo-text.validatebox-text {
	width: 120px !important;
}

#tb {
	font-size: 12px;
}


.addbj{
	padding:5px;
	width: 50px;
	height: 50px;
	text-decoration: none;
	font-size: 14px;
	background: url(bigadd.png) no-repeat center center;
	border:2px solid #ddd;
}

.bjdelete,.addhosp{
	padding: 0px 12px 0px 33px;
	text-decoration: none;
	color: #222222;
	font-size: 14px;
	background: url(edit_remove.png) no-repeat 10% center;
	background-color:#ffffff;
	line-height: 30px;	
	margin-right: 10px;
	border:1px solid #ddd;
	vertical-align: middle;
}
.addfile
{
	color: #428bca;
	font-size: 14px;
	margin-left:5px;
}
    
.addhosp{
	background: url(edit_add.png) no-repeat 10% center;
}
.deleteFile
{
    margin-bottom:-8px;
   padding:20px 10px 10px 2px;
    background: url(deleteFile.png) no-repeat bottom center;   
}
/*#bjul a.addhosp{
width: 150px;
}*/


/*提交,保存,新增按钮颜色一致,报价为单独的矩形背景,供货厂家和其他医院之间要分割线,药品详情间隔大些,删除报价按钮的字体变小,按钮背景颜色变淡,报价窗口的叉叉按钮和之前页面保持一致,查看报价的页面药品详情下面要有分割线,*供应厂家不能有重复的，一个报价里面不能有重复的医院，所有按钮圆角变成方角/