*{
    padding: 0;
    margin: 0;
    /*font-size: 13px;*/
}
#factory{
    /*width:90%;*/
    height:auto;
    margin:5px 5px;
}
#Ftop{
    /*width:100%;*/
    height:30px;
	min-width:550px;
}
#Ftop p{
    margin-top: 10px;
}
#Ftop p a{
    padding-right:5px;
}
#Fdetal{
    /*width:100%;*/
    height:30px;
    background-color: #f1f1f1;
    margin:10px 0;
    font-size:14px;
}
#Fdatag{
    /*width:100%;*/
    height:370px;
}
#Fdetal1{
    /*width:100%;*/
    height:30px;
}
#Fdatag2{
    margin-top: 10px;
}
button
{
	border:none;
   margin: 0;
    padding: 0 12px;
    line-height: 23px;
    vertical-align: top;
    margin-left: 10px;
    text-decoration: none;
    height: 23px;
    color: #ffffff;
    text-align: center;
    margin-left: 20px;
    background-color: #428bca;
    cursor:pointer;

}
a{
    text-decoration: none;
    color: #000000;
}
input{
    border:1px solid #aaaaaa;
}
