<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XH_Print.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <XH_Print.Properties.Settings>
            <setting name="XH_Print_QcSalary_ZCW1" serializeAs="String">
                <value>http://p01app1:8001/sap/bc/srt/rfc/sap/zhr00_cw1/800/zcw1/zcw1</value>
            </setting>
            <setting name="XH_Print_Srzm_ZHR00_CW2" serializeAs="String">
                <value>http://p01app1:8001/sap/bc/srt/rfc/sap/zhr00_cw2/800/zhr00_cw2/zhr00_cw2</value>
            </setting>
            <setting name="XH_Print_MonthSalary_ZHR00_CW3" serializeAs="String">
                <value>http://p01app1:8001/sap/bc/srt/rfc/sap/zhr00_cw3/800/zhr00_cw3/zhr00_cw3</value>
            </setting>
            <setting name="XH_Print_SearchMonthSalary_ZHR00_CW4" serializeAs="String">
                <value>http://p01app1:8001/sap/bc/srt/rfc/sap/zhr00_cw4/800/zhr00_cw4/zhr00_cw4</value>
            </setting>
            <setting name="XH_Print_JxSearch_ZHR00_CW5" serializeAs="String">
                <value>http://p01app1:8001/sap/bc/srt/rfc/sap/zhr00_cw5/800/zhr00_cw5/zhr00_cw5</value>
            </setting>
            <setting name="XH_Print_accountFundSearch_ZFI02_WS_JFDD" serializeAs="String">
                <value>http://p01app1:8001/sap/bc/srt/rfc/sap/zfi02_ws_jfdd/800/zfi02_ws_jfdd/zfi02_ws_jfdd</value>
            </setting>
            <setting name="XH_Print_detailFund_ZFI02_WS_JFMX" serializeAs="String">
                <value>http://p01app1:8001/sap/bc/srt/rfc/sap/zfi02_ws_jfmx/800/zfi02_ws_jfmx/zfi02_ws_jfmx</value>
            </setting>
        </XH_Print.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
