<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="DatabaseProduct" type="Ipedf.Core.DatabaseProductConfigHandler,Ipedf.Core.Designer" />
    <section name="DALProduct" type="Ipedf.Core.DALProductConfigHandler,Ipedf.Core.Web" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net-net-1.0" />
    <sectionGroup name="SAP.Middleware.Connector">
      <sectionGroup name="ClientSettings">
        <section name="DestinationConfiguration" type="SAP.Middleware.Connector.RfcDestinationConfiguration,sapnco" />
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ipedf.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <root>
      <level value="Error" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <!--<param name="File" value="%date{yyyy-MM-dd}log.txt"/>-->
      <file type="log4net.Util.PatternString" value="%date{yyyy-MM-dd-HH}log.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}>%n - %m%n" />
      </layout>
    </appender>
  </log4net>
  <SAP.Middleware.Connector>
    <ClientSettings>
      <DestinationConfiguration>
        <destinations>
          <add NAME="ECC" USER="COM_SCM" PASSWD="@123456" CLIENT="300" SYSNR="00" ASHOST="192.168.64.29" LANG="EN" MAX_POOL_SIZE="10" IDLE_TIMEOUT="1000"></add>
          <!-- <add NAME="ECC" USER="COM_SCM" PASSWD="822019" CLIENT="800" SYSNR="01" ASHOST="192.168.64.22" LANG="ZH"  MAX_POOL_SIZE="10" IDLE_TIMEOUT="1000"></add>-->
          <!--<add NAME="ECC" USER="COM_SCM" PASSWD="822019" CLIENT="800" SYSNR="01" ASHOST="192.168.64.26" LANG="ZH" GROUP="PUBLIC" MAX_POOL_SIZE="10" IDLE_TIMEOUT="10"></add>-->
        </destinations>
      </DestinationConfiguration>
    </ClientSettings>
  </SAP.Middleware.Connector>
  <DatabaseProduct interface="Ipedf.Core.IDataBaseProduct">
    <Product name="Oracle9I" type="Ipedf.Core.Oracle9I,Ipedf.Core.Designer" />
    <Product name="SqlServer2000" type="Ipedf.Core.SqlServer2000,Ipedf.Core.Designer" />
    <Product name="SqlServer2005" type="Ipedf.Core.SqlServer2005,Ipedf.Core.Designer" />
    <Product name="Access2003" type="Ipedf.Core.Access2003,Ipedf.Core.Designer" />
  </DatabaseProduct>
  <DALProduct>
    <!--作为应用系统当前在用数据库,框架默认加载第1个实现-->
    <Product name="OracleDAL" type="Ipedf.Core.OracleDAL,Ipedf.Core.Web" connectionString="Persist Security Info=False;User ID=ipedf_test;Password=ipedf_test;Data Source=192.168.64.102/orcl; Pooling = true;Min Pool Size = 20;Max Pool Size = 200;Connection Lifetime = 60;" />
    <!--
    <Product name="SqlServerDAL" type="Ipedf.Core.SqlServerDAL,Ipedf.Core" connectionString="User ID=sa;Password=sas;Server=W-PC\LOCALSQL2K5;Database=ipedf;" />
    <Product name="AccessDAL" type="Ipedf.Core.AccessDAL,Ipedf.Core" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\Professor\Itabby\Product\Itabby.Product.EfficientDevFramework.Web\Database\system.mdb;Persist Security Info=True;" /> -->
  </DALProduct>
  <appSettings>
    <!--是否记录操作日志（true:是,false:否）-->
    <add key="LogEnabled" value="true" />
    <!--是否记录错误日志（true:是,false:否）-->
    <add key="ExceptionEnabled" value="true" />
    <!--异常处理页面URL-->
    <add key="ExceptionUrl" value="/Exception/Index" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SupplierEdit" value="1" />
    <!-- 0是不可编辑 1可编辑-->
    <add key="PORT" value="8081" />
    <!-- 0是不可编辑 1可编辑-->
    <!--SAP WEB Ref配置模块-->
    <add key="Sap_User" value="ab_zhangkp" />
    <add key="Sap_Password" value="@123456" />
    <add key="web_switch" value="0" />
    <!--0是RFC 1是WEB引用-->
  </appSettings>
  <system.web>
    <sessionState mode="InProc" timeout="60" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <!--<identity impersonate="true" userName="B009" password="111"/>-->
    <httpRuntime requestLengthDiskThreshold="256" maxRequestLength="2097151" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    
     
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="655360000" maxBufferPoolSize="5242880000" maxReceivedMessageSize="655360000">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="test">
        <endpoint binding="basicHttpBinding" name="BasicHttpBinding_ISCM_XH" contract="Ipedf.App.ISCM_XH" />
      </service>
      <service name="SCM_WCF">
        <endpoint binding="basicHttpBinding" name="BasicHttpBinding_ISCM_WCF" contract="Ipedf.App.ISCM_WCF" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

    <client />

  </system.serviceModel>
  <applicationSettings>
    <Ipedf.App.Properties.Settings>
      <setting name="App_ServiceFromSAP_service" serializeAs="String">
        <value>http://192.168.64.29:8000/sap/bc/srt/scs/sap/zsaptoscmws?sap-client=300</value>
      </setting>
    </Ipedf.App.Properties.Settings>
  </applicationSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="20971520" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
