<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>     
      <service behaviorConfiguration="Ipedf.WCF.GlobalServiceBehaviors"
        name="Ipedf.Web.BizLogic.Service.SystemLogic">
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint binding="basicHttpBinding" bindingConfiguration="Ipedf.WCF.GlobalBasicHttpBinding"
          contract="Ipedf.Web.Service.Contract.IMobileLogin" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Ipedf.WCF.GlobalServiceBehaviors">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="Ipedf.WCF.GlobalBasicHttpBinding" receiveTimeout="10:00:00"
          sendTimeout="10:00:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <trust level="Full" />
    <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/" />
  </system.web>
</configuration>
