



td[field="check"], td[field="checkbox"] {
    width: 30px;
}

body {
    margin: 0;
    padding: 0;
    font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: black;
    background: #E6EAE9;
    text-align: left;
    font-size: 12px;
}




input {
    font: normal 12px/20px "微软雅黑";
    background: #ffffff;
    border: 1px solid #95b8e7;
    color: #003366;
    cursor: text;
    padding: 1px;
}





 







.laytrnew {
    width: 748px;
    height: 36px;
    border-top: 1px solid #b2ccec;
    border-left: 1px solid #b2ccec;
    margin-left: 15px;
    font: normal 12px/20px "微软雅黑";
    text-align: center;
    line-height: 36px;
}

.leftside {
    width: 248px;
    height: 36px;
    border-right: 1px solid #b2ccec;
    border-bottom: 1px solid #b2ccec;
    float: left;
}

.rightside {
    width: 248px;
    height: 36px;
    border-right: 1px solid #b2ccec;
    border-bottom: 1px solid #b2ccec;
    float: right;
}

.centreside {
    width: 248px;
    height: 36px;
    border-right: 1px solid #b2ccec;
    border-bottom: 1px solid #b2ccec;
    float: left;
}

.trendlf {
    width: 97px;
    height: 36px;
    float: left;
    background-color: #E1EDFC;
}

.trendrt {
    width: 150px;
    height: 29px;
    border-left: 1px solid #b2ccec;
    float: right;
    background-color: #F2F6FF;
    line-height: 18px ;
    padding-top: 7px;
}

.LeftTwoside {/*左边两个合并 开始*/
    width: 497px;
    height: 36px;
    border-right: 1px solid #b2ccec;
    border-bottom: 1px solid #b2ccec;
    float: left;
}
.LeftTwotrendlf {
    width: 97px;
    height: 36px;
    float: left;
    background-color: #E1EDFC;
}

.LeftTwotrendrt {
    width: 399px;
    height: 34px;
    border-left: 1px solid #b2ccec;
    float: left;
    background-color: #F2F6FF;
    padding-top: 2px;
}


.bottomside {
    width: 747px;
    height: 51px;
    text-align: center;
    border-right: 1px solid #b2ccec;
    border-left: 1px solid #b2ccec;
    margin-left: 15px;
    font: normal 12px/20px "微软雅黑";
    background-color: #F2F6FF;
    line-height: 45px;
}

.bottomsideleft {
    width: 86px;
    height: 35px;
    border-right: 1px solid #b2ccec;
    background-color: #e1edfc;
    padding-left: 10px;
    padding-top: 15px;
    font: normal 12px/20px "微软雅黑";
    float: left;
}

.bottomsideright {
    height: 50px;
    width: 398px;
    float: left;
}

.bottomrightside {
    width: 248px;
    height: 50px;
    border-left: 1px solid #b2ccec;
    float: right;
}


.bottomtrendlf {
    width: 96px;
    height: 50px;
    float: left;
    background-color: #E1EDFC;
}

.bottomtrendrt {
    width: 150px;
    height: 40px;
    border-left: 1px solid #b2ccec;
    float: right;
    background-color: #F2F6FF;
    line-height: 28px;
    padding-top: 10px;
}


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/
fieldset {
    margin-left: 4px;
    padding: 1px;
    border: 2px solid #b2ccec;
}

legend {
    font-weight: bold;
    padding: 2px 8px 8px 12px;
}


textarea {
    font: normal 12px/20px "微软雅黑";
    color: #444;
    border: 1px solid #CCC;
    overflow: auto;
    margin-top: 5px;
}



.field-validation-error {
    font-family: 微软雅黑;
    color: #ff0000;
}

.field-validation-valid {
    font-size: 16px;
    font-family: 微软雅黑;
    display: none;
}

.input-validation-error {
    font-family: 微软雅黑;
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}




.laytrone {
    width: 1200px;
    height: 26px;
    border-left: 1px solid #b2ccec;
    font: normal 12px/20px "微软雅黑";
    line-height: 26px;
}

.leftone {
    width: 394px;
    height: 24px;
    border-right: 1px solid #b2ccec;
    border-bottom: 1px solid #b2ccec;
    margin-right: 5px;
    border-top: 1px solid #b2ccec;
    float: left;
}

.middleone {
    width: 394px;
    height: 24px;
    border-right: 1px solid #b2ccec;
    border-bottom: 1px solid #b2ccec;
    float: left;
    border-top: 1px solid #b2ccec;
    margin-right: 4px;
    border-left: 1px solid #b2ccec;
}

.rigthone {
    width: 394px;
    height: 24px;
    line-height: 24px;
    border-right: 1px solid #b2ccec;
    border-bottom: 1px solid #b2ccec;
    border-top: 1px solid #b2ccec;
    float: left;
    border-left: 1px solid #b2ccec;
    margin-right: 4px;
}

.lablele {
    width: 115px;
    height: 24px;
    float: left;
    text-align: right;
    padding-left: 5px;
    background-color: #F2F6FF;
}

.righted {
    width: 268px;
    height: 24px;
    border-left: 1px solid #b2ccec;
    float: left;
    padding-left: 5px;
    text-align: left;
    background-color: #E1EDFC;
}
