@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/SystemManage/Module/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });
    function initControl() {
        $("#F_Target").select2({
            minimumResultsForSearch: -1
        });
        $("#F_ParentId").bindSelect({
            url: "/SystemManage/Module/GetTreeSelectJson",
        });
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/SystemManage/Module/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").resetSelection();
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    function showModule() {
        $.modalOpen({
            id: "Form22",
            title: "新增菜单",
            url: '/SystemManage/Module/icon',
            btn:[],
            width: "700px",
            height: "440px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">基本信息</a></li>
            <li role="presentation"><a href="#">扩展信息</a></li>
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">上级</th>
                    <td class="formValue">
                        <select id="F_ParentId" name="F_ParentId" class="form-control required">
                            <option value="0">父节点</option>
                        </select>
                    </td>
                    <th class="formTitle">名称</th>
                    <td class="formValue">
                        <input id="F_FullName" name="F_FullName" type="text" class="form-control required" placeholder="请输入名称" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">连接</th>
                    <td class="formValue">
                        <input id="F_UrlAddress" name="F_UrlAddress" type="text" class="form-control" />
                    </td>
                    <th class="formTitle">目标</th>
                    <td class="formValue">
                        <select id="F_Target" name="F_Target" class="form-control required">
                            <option value="">==请选择==</option>
                            <option value="expand" title="expand">无页面</option>
                            <option value="iframe" title="iframe">框架页</option>
                            <option value="open" title="open">弹出页</option>
                            <option value="blank" title="blank">新窗口</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">图标</th>
                    <td class="formValue">
                        <div class="input-group">
                            <input id="F_Icon" name="F_Icon" type="text" class="form-control">
                            <span class="input-group-btn">
                                <a class="btn  btn-primary" onclick="showModule();"><i class="fa fa-ellipsis-h"></i></a>
                            </span>
                        </div>
                    </td>
                    <th class="formTitle">排序</th>
                    <td class="formValue">
                        <input id="F_SortCode" name="F_SortCode" type="text" class="form-control required" placeholder="请输入排序" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" style="height: 35px;">选项</th>
                    <td class="formValue" colspan="3" style="padding-top: 1px;">
                        <div class="ckbox">
                            <input id="F_IsMenu" name="F_IsMenu" type="checkbox"><label for="F_IsMenu">菜单</label>
                        </div>
                        <div class="ckbox">
                            <input id="F_IsPublic" name="F_IsPublic" type="checkbox"><label for="F_IsPublic">公共</label>
                        </div>
                        <div class="ckbox">
                            <input id="F_IsExpand" name="F_IsExpand" type="checkbox"><label for="F_IsExpand">展开</label>
                        </div>
                        <div class="ckbox">
                            <input id="F_EnabledMark" name="F_EnabledMark" type="checkbox" checked="checked"><label for="F_EnabledMark">有效</label>
                        </div>
                        <div class="ckbox">
                            <input id="F_AllowEdit" name="F_AllowEdit" type="checkbox"><label for="F_AllowEdit">允许编辑</label>
                        </div>
                        <div class="ckbox">
                            <input id="F_AllowDelete" name="F_AllowDelete" type="checkbox"><label for="F_AllowDelete">允许删除</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle" valign="top" style="padding-top: 5px;">
                        介绍
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="F_Description" name="F_Descriptions" class="form-control" style="height: 100px;"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    @*<div style="display:none"><div id="iconSet" style="width:400px;">
    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-glass"></div>

    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-music"></div>


    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-search"></div>


    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-envelope-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-heart"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-star"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-star-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-user"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-film"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-th-large"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-th"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-th-list"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-check"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-remove"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-search-plus"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-search-minus"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-power-off"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-signal"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-gear"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-trash-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-home"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-file-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-clock-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-road"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-download"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-arrow-circle-o-down"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-arrow-circle-o-up"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-inbox"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-play-circle-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-rotate-right"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-refresh"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-list-alt"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-lock"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-flag"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-headphones"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-volume-off"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-volume-down"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-volume-up"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-qrcode"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-barcode"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-tag"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-tags"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-book"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-bookmark"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-print"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-camera"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-font"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-bold"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-italic"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-text-height"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-text-width"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-align-left"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-align-center"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-align-right"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-align-justify"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-list"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-dedent"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-indent"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-video-camera"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-photo"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-pencil"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-map-marker"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-adjust"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-tint"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-edit"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-share-square-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-check-square-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-arrows"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-step-backward"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-fast-backward"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-backward"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-play"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-pause"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-stop"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-forward"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-fast-forward"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-step-forward"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-eject"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-chevron-left"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-chevron-right"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-plus-circle"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-minus-circle"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-times-circle"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-check-circle"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-question-circle"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-info-circle"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-crosshairs"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-times-circle-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-check-circle-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-ban"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-arrow-left"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-arrow-right"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-arrow-up"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-arrow-down"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-mail-forward"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-expand"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-compress"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-plus"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-minus"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-asterisk"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-exclamation-circle"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-gift"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-leaf"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-fire"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-eye"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-eye-slash"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-warning"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-plane"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-calendar"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-random"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-comment"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-magnet"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-chevron-up"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-chevron-down"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-retweet"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-shopping-cart"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-folder"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-folder-open"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-arrows-v"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-arrows-h"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-bar-chart-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-twitter-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-facebook-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-camera-retro"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-key"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-gears"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-comments"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-thumbs-o-up"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-thumbs-o-down"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-star-half"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-heart-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-sign-out"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-linkedin-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-thumb-tack"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-external-link"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-sign-in"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-trophy"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-github-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-upload"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-lemon-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-phone"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-square-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-bookmark-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-phone-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-twitter"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-facebook-f"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-github"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-unlock"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-credit-card"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-feed"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-hdd-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-bullhorn"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-bell"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-certificate"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-hand-o-right"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-hand-o-left"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-hand-o-up"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-hand-o-down"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-arrow-circle-left"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-arrow-circle-right"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-arrow-circle-up"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-arrow-circle-down"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-globe"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-wrench"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-tasks"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-filter"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-briefcase"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-arrows-alt"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-group"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-chain"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-cloud"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-flask"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-cut"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-copy"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-paperclip"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-save"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-navicon"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-list-ul"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-list-ol"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-strikethrough"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-underline"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-table"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-magic"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-truck"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-pinterest"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-pinterest-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-google-plus-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-google-plus"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-money"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-caret-down"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-caret-up"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-caret-left"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-caret-right"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-columns"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-unsorted"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-sort-down"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-sort-up"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-envelope"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-linkedin"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-rotate-left"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-legal"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-dashboard"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-comment-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-comments-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-flash"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-sitemap"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-umbrella"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-paste"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-lightbulb-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-exchange"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-cloud-download"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-cloud-upload"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-user-md"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-stethoscope"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-suitcase"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-bell-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-coffee"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-cutlery"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-file-text-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-building-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-hospital-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-ambulance"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-medkit"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-fighter-jet"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-beer"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-h-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-plus-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-angle-double-left"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-angle-double-right"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-angle-double-up"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-angle-double-down"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-angle-left"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-angle-right"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-angle-up"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-angle-down"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-desktop"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-laptop"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-tablet"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-mobile-phone"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-circle-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-quote-left"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-quote-right"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-spinner"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-circle"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-mail-reply"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-github-alt"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-folder-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-folder-open-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-smile-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-frown-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-meh-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-gamepad"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-keyboard-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-flag-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-flag-checkered"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-terminal"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-code"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-mail-reply-all"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-star-half-empty"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-location-arrow"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-crop"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-code-fork"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-unlink"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-question"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-info"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-exclamation"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-superscript"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-subscript"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-eraser"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-puzzle-piece"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-microphone"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-microphone-slash"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-shield"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-calendar-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-fire-extinguisher"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-rocket"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-maxcdn"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-chevron-circle-left"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-chevron-circle-right"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-chevron-circle-up"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-chevron-circle-down"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-html5"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-css3"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-anchor"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-unlock-alt"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-bullseye"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-ellipsis-h"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-ellipsis-v"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-rss-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-play-circle"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-ticket"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-minus-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-minus-square-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-level-up"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-level-down"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-check-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-pencil-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-external-link-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-share-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-compass"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-toggle-down"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-toggle-up"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-toggle-right"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-euro"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-gbp"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-dollar"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-rupee"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-cny"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-ruble"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-won"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-bitcoin"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-file"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-file-text"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-sort-alpha-asc"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-sort-alpha-desc"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-sort-amount-asc"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-sort-amount-desc"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-sort-numeric-asc"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-sort-numeric-desc"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-thumbs-up"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-thumbs-down"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-youtube-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-youtube"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-xing"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-xing-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-youtube-play"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-dropbox"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-stack-overflow"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-instagram"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-flickr"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-adn"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-bitbucket"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-bitbucket-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-tumblr"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-tumblr-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-long-arrow-down"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-long-arrow-up"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-long-arrow-left"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-long-arrow-right"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-apple"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-windows"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-android"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-linux"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-dribbble"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-skype"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-foursquare"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-trello"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-female"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-male"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-gittip"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-sun-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-moon-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-archive"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-bug"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-vk"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-weibo"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-renren"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-pagelines"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-stack-exchange"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-arrow-circle-o-right"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-arrow-circle-o-left"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-toggle-left"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-dot-circle-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-wheelchair"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-vimeo-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-turkish-lira"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-plus-square-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-space-shuttle"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-slack"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-envelope-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-wordpress"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-openid"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-institution"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-mortar-board"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-yahoo"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-google"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-reddit"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-reddit-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-stumbleupon-circle"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-stumbleupon"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-delicious"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-digg"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-pied-piper"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-pied-piper-alt"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-drupal"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-joomla"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-language"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-fax"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-building"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-child"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-paw"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-spoon"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-cube"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-cubes"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-behance"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-behance-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-steam"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-steam-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-recycle"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-automobile"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-cab"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-tree"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-spotify"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-deviantart"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-soundcloud"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-database"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-file-pdf-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-file-word-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-file-excel-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-file-powerpoint-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-file-photo-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-file-zip-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-file-sound-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-file-movie-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-file-code-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-vine"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-codepen"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-jsfiddle"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-life-bouy"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-circle-o-notch"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-ra"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-ge"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-git-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-git"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-y-combinator-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-tencent-weibo"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-qq"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-wechat"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-send"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-send-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-history"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-circle-thin"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-header"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-paragraph"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-sliders"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-share-alt"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-share-alt-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-bomb"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-soccer-ball-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-tty"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-binoculars"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-plug"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-slideshare"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-twitch"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-yelp"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-newspaper-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-wifi"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-calculator"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-paypal"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-google-wallet"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-cc-visa"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-cc-mastercard"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-cc-discover"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-cc-amex"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-cc-paypal"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-cc-stripe"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-bell-slash"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-bell-slash-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-trash"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-copyright"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-at"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-eyedropper"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-paint-brush"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-birthday-cake"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-area-chart"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-pie-chart"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-line-chart"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-lastfm"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-lastfm-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-toggle-off"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-toggle-on"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-bicycle"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-bus"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-ioxhost"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-angellist"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-cc"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-shekel"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-meanpath"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-buysellads"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-connectdevelop"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-dashcube"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-forumbee"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-leanpub"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-sellsy"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-shirtsinbulk"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-simplybuilt"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-skyatlas"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-cart-plus"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-cart-arrow-down"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-diamond"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-ship"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-user-secret"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-motorcycle"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-street-view"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-heartbeat"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-venus"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-mars"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-mercury"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-intersex"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-transgender-alt"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-venus-double"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-mars-double"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-venus-mars"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-mars-stroke"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-mars-stroke-v"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-mars-stroke-h"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-neuter"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-genderless"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-facebook-official"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-pinterest-p"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-whatsapp"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-server"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-user-plus"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-user-times"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-hotel"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-viacoin"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-train"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-subway"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-medium"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-yc"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-optin-monster"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-opencart"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-expeditedssl"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-battery-4"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-battery-3"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-battery-2"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-battery-1"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-battery-0"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-mouse-pointer"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-i-cursor"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-object-group"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-object-ungroup"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-sticky-note"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-sticky-note-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-cc-jcb"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-cc-diners-club"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-clone"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-balance-scale"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-hourglass-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-hourglass-1"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-hourglass-2"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-hourglass-3"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-hourglass"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-hand-grab-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-hand-stop-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-hand-scissors-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-hand-lizard-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-hand-spock-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-hand-pointer-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-hand-peace-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-trademark"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-registered"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-creative-commons"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-gg"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-gg-circle"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-tripadvisor"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-odnoklassniki"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-odnoklassniki-square"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-get-pocket"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-wikipedia-w"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-safari"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-chrome"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-firefox"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-opera"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-internet-explorer"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-tv"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-contao"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-500px"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-amazon"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-calendar-plus-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-calendar-minus-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-calendar-times-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-calendar-check-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-industry"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-map-pin"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-map-signs"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-map-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-map"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-commenting"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-commenting-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-houzz"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-vimeo"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-black-tie"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-fonticons"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-reddit-alien"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-edge"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-credit-card-alt"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-codiepie"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-modx"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-fort-awesome"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-usb"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-product-hunt"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-mixcloud"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-scribd"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-pause-circle"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-pause-circle-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-stop-circle"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-stop-circle-o"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-shopping-bag"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-shopping-basket"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-hashtag"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-bluetooth"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-bluetooth-b"></div>



    <div onclick="Onselect(this);" style="width: 20px;height: 20px;padding: 2px 2px 2px 2px;float: left;" class="fa fa-percent"></div>


</div></div>*@
    
</form>
