        .white_contentLg
        {
            display: none;
            position: absolute;
            top: 20%;
            left: 27%;
            min-height: 45%;
            min-width: 45%;
            padding: 3px;
            border: 1px solid #ccc;
            text-align: center;
            z-index: 1002;
            background: #fff;
        }
        .white_contentLg .form-group
        {
            margin-top: 20px;
            padding-top: 26px;
        }
        .white_contentLg .form-group label
        {
            text-align: right;
        }