@{
    ViewBag.Title = "FundSap";
    Layout = "~/Views/Shared/_Form_Hrm.cshtml";
}
<script>
    var WerksId = $.request("WerksId");
    var LgortId = $.request("LgortId");
    var CardNumber = $.request("CardNumber");
    var password = $.request("password");
    $(function () {
        initControl();
       
    });
    function initControl() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: '../../../mtr/fund/GetFundSapJson/',
            postData: { WerksId: WerksId, LgortId: LgortId, CardNumber: CardNumber, password: $.trim(password) },
            height: $(window).height() - 128,
            emptyRecords:'卡号或者密码有误，数据不存在',
            checkbox: true,
            colModel: [
                { label: '经费编码', name: 'FundCode', width: 100, align: 'left' },
                { label: '经费名称', name: 'FundName', width: 250, align: 'left' },

                {
                    label: '经费金额', name: 'FundAmound', width: 80, align: 'left'
                }

            ],
            viewrecords: true
        });
    }
    function submitForm() {
        var FundCode = $("#gridList").jqGridRowValue().FundCode;
        if (FundCode == undefined || FundCode == "") {
            $.modalAlert("请选择经费", "warning");
            return false;
        }
        var FundName = $("#gridList").jqGridRowValue().FundName;
        var FundAmount = $("#gridList").jqGridRowValue().FundAmound;
        return {
            FundCode: FundCode,
            FundName: FundName,
            FundAmount: FundAmount
        }
    }
   
</script>

<form id="form1">
    <div class="gridPanel">
        <table id="gridList"></table>
    </div>
</form>

